.video-player-details-page{
    display: flex;
    width: 100%;
    justify-content: center;
}
.video-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.canvas{ 
    position:relative; 
    width:400px; 
    height:240px; 
    align-items: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-block: 10px;

}
.video-container{ 
    position:absolute; 
    width:100%; 
    height:100%; 
    z-index:1; 
    top:0;
    left:0;
    border-radius: 10px;
}
/* .svg-container{  */
    /* position:relative;  */
    /* width:100%; 
    height:100%;  */
    /* left:0;
    z-index:2 ;
    top:-100px;
} */
.tracker-svg-container{
    width: 60%;
}
.empty-box{
    position: absolute;
    z-index: 2;
    border: 1px solid red;
    width: 100%;
    height:100%;
    top:0;
    left:0
}
.d-none{
    display: none;
}